<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ПиктоМир</string>
	<key>CFBundleGetInfoString</key>
	<string>ПиктоМир (c) НИИСИ РАН</string>
	<key>CFBundleIconFile</key>
	<string>pictomir.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.ru.lpm.kumir</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>ttxt</string>
</dict>
</plist>
