<HTML>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Часть старого гипертекстового учебника</title>
  <script type="text/javascript" src="../httpd.js"></script>

  <script type="text/javascript">
	function vspom1() {
		txt  = "использовать Робот\n";
		txt += "алг ход конем\n";
		txt += "дано | Робот в клетке А (рис. 4)\n";
		txt += "надо | Робот в клетке Б (рис. 4)\n";
		txt += "нач\n";
		txt += "вправо\n";
		txt += "вправо\n";
		txt += "вниз\n";
		txt += "кон";
		setProgramText(txt);
	}

	function vspom2() {
		setRobotField("ris-6a.fil");
		txt  = "использовать Робот\n";
		txt += "алг из А в Б\n";
		txt += "дано | Робот в клетке А (рис. 6а)\n";
		txt += "надо | Робот в клетке Б (рис. 6а)\n";
		txt += "нач\n";
		txt += "вверх; вверх; вправо; вниз; вниз; вправо\n";
		txt += "вверх; вверх; вправо; вниз; вниз; вправо\n";
		txt += "вверх; вверх; вправо; вниз; вниз; вправо\n";
		txt += "вверх; вверх; вправо; вниз; вниз; вправо\n";
		txt += "вверх; вверх; вправо; вниз; вниз; вправо\n";
		txt += "кон";
		setProgramText(txt);
	}

	function vspom3() {
		setRobotField("ris.fil");
		txt  = "использовать Робот\n";
		txt += "алг из А в Б с закрашиванием\n";
		txt += "дано | Робот в клетке А\n";
		txt += "надо | Робот в клетке Б, нужные клетки закрашены\n";
		txt += "нач\n";
		txt += "закрашивание блока\n";
		txt += "обход стены\n";
		txt += "закрашивание блока\n";
		txt += "обход стены\n";
		txt += "закрашивание блока\n";
		txt += "кон\n";
		txt += "\n";
		txt += "алг закрашивание блока\n";
		txt += "дано | Робот в левом верхнем углу блока 3*5 клеток\n";
		txt += "надо | блок закрашен, Робот в его правом нижнем углу\n";
		txt += "нач\n";
		txt += "закрасить; вправо; закрасить; вправо; закрасить; вниз\n";
		txt += "закрасить; влево; закрасить; влево; закрасить; вниз\n";
		txt += "закрасить; вправо; закрасить; вправо; закрасить; вниз\n";
		txt += "закрасить; влево; закрасить; влево; закрасить; вниз\n";
		txt += "закрасить; вправо; закрасить; вправо; закрасить\n";
		txt += "кон\n";
		txt += "\n";
		txt += "алг обход стены\n";
		txt += "дано | Робот в правом нижнем углу блока\n";
		txt += "надо | Робот в левом верхнем углу следующего блока\n";
		txt += "нач\n";
		txt += "вправо; вверх; вверх; вверх; вверх; вверх; вверх\n";
		txt += "вправо; вправо; вниз; вниз\n";
		txt += "кон\n";
		setProgramText(txt);
	}

	function vspom4() {
		txt  = "использовать Чертежник\n";
		txt += "алг прямоугольник с диагоналями\n";
		txt += "дано | перо поднято\n";
		txt += "надо | нарисован прямоугольник с диагоналями\n";
		txt += "     | перо поднято\n";
		txt += "нач\n";
		txt += "\n";
		txt += "сместиться в точку (1, 1)\n";
		txt += "опустить перо\n";
		txt += "сместиться в точку (3, 1)\n";
		txt += "сместиться в точку (3, 2)\n";
		txt += "сместиться в точку (1, 2)\n";
		txt += "сместиться в точку (1, 1)\n";
		txt += "| нарисован прямоугольник\n";
		txt += "сместиться в точку (3, 2)\n";
		txt += "поднять перо\n";
		txt += "сместиться в точку (1, 2)\n";
		txt += "опустить перо\n";
		txt += "сместиться в точку (3, 1)\n";
		txt += "поднять перо\n";
		txt += "кон\n";
		setProgramText(txt);
	}

	function vspom5() {
		txt  = "использовать Чертежник\n";
		txt += "алг МИР\n";
		txt += "дано | перо поднято\n";
		txt += "надо | нарисовано слово МИР, перо поднято и расположено\n";
		txt += "     | в конце слова (начале следующей буквы)\n";
		txt += "нач\n";
		txt += "буква М\n";
		txt += "буква И\n";
		txt += "буква Р\n";
		txt += "кон\n";
		txt += "\n";
		txt += "алг буква М|@hidden\n";
		txt += "нач|@hidden\n";
		txt += "опустить перо|@hidden\n";
		txt += "сместиться на вектор (0, 4)|@hidden\n";
		txt += "сместиться на вектор (1, -2)|@hidden\n";
		txt += "сместиться на вектор (1, 2)|@hidden\n";
		txt += "сместиться на вектор (0, -4)|@hidden\n";
		txt += "поднять перо|@hidden\n";
		txt += "сместиться на вектор (1, 0)|@hidden\n";
		txt += "кон|@hidden\n";
		txt += "|@hidden\n";
		txt += "алг буква И|@hidden\n";
		txt += "нач|@hidden\n";
		txt += "сместиться на вектор (0, 4)|@hidden\n";
		txt += "опустить перо|@hidden\n";
		txt += "сместиться на вектор (0, -4)|@hidden\n";
		txt += "сместиться на вектор (2, 4)|@hidden\n";
		txt += "сместиться на вектор (0, -4)|@hidden\n";
		txt += "поднять перо|@hidden\n";
		txt += "сместиться на вектор (1, 0)|@hidden\n";
		txt += "кон|@hidden\n";
		txt += "|@hidden\n";
		txt += "алг буква Р|@hidden\n";
		txt += "нач|@hidden\n";
		txt += "опустить перо|@hidden\n";
		txt += "сместиться на вектор (0, 4)|@hidden\n";
		txt += "сместиться на вектор (2, 0)|@hidden\n";
		txt += "сместиться на вектор (0, -2)|@hidden\n";
		txt += "сместиться на вектор (-2, 0)|@hidden\n";
		txt += "поднять перо|@hidden\n";
		txt += "сместиться на вектор (3, -2)|@hidden\n";
		txt += "кон|@hidden\n";
		setProgramText(txt);
 	}
  </script>

 </head>

<BODY>

<h1 align=center>Алгоритмы из учебника "Основы информатики и вычислительной техники"</h1>

<h3>Глава 1. Алгоритмический язык</h3>

<ol start=4>
<li>Исполнитель "Робот". Понятие алгоритма.<br>
	<table cols=2 border=1>
		<tr>
			<td><a href="" onclick="setRobotField('ris-4.fil');  vspom1(); return false;">А1</a></td>
			<td>(4.3) ход конем</td>
		</tr>
		<tr>
			<td><a href="javascript:vspom2()">А2</a></td>
			<td>(4.8) из А в Б</td>
		</tr>
	</table>
</li>
<li>Исполнитель "Чертежник" и работа с ним.
	<table cols=2 border=1>
		<tr>
			<td><a href="javascript:vspom4()">А6</a></td>
			<td>(5.4) прямоугольник с диагоналями</td>
		</tr>
	</table>
</li>
<li>Вспомогательные алгоритмы. Алгоритмы с аргументами.
	<table cols=2 border=1>
		<tr>
			<td><a href="javascript:vspom5()">А11</a></td>
			<td>(6.1) МИР</td>
		</tr>
		<tr>
			<td>А12</td>
			<td>(6.3) МИРУ МИР</td>
		</tr>
		<tr>
			<td><a href="javascript:vspom3()">А13-15</a></td>
			<td>(6.4) из А в Б с закрашиванием</td>
		</tr>
	</table>
</li>
</ol>

</BODY>
</HTML>
